body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}
.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    max-width: 600px;
    margin: 20px auto;
    text-align: left;
}
input[type="text"] {
    font-size: 20px;
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #1F1F1F;
    color: #ccc;
    border: 1px solid #3F3F3F;
    border-radius: 5px;
    margin-top: 10px;
}
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background: #676767;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #878787;
}
.result {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}
h2 {
    text-align: center;
}
.inHistory {
    font-size: 20px;
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #1F1F1F;
    color: #ccc;
    border: 1px solid #3F3F3F;
    border-radius: 5px;
    margin-top: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, visibility 0.5s;
}

.overlay-content {
    background: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border-radius: 10px;
    transform: scale(0.8);
    transition: transform 0.3s ease-in-out;
}

.overlay.show {
    visibility: visible;
    opacity: 1;
}

.overlay.show .overlay-content {
    transform: scale(1);
}

#resultText {
    font-size: 50px;
}

.field {
    display: flex;
    background-color: #444;
    font-size: 20px;
    border-radius: 5px;
    margin: 10px 0px;
}

.valname {
    width: 30%;
    color: #ccc;
    margin: 10px auto;
    padding: 2px 5px;
}

.valfield {
    width: 50%;
    background-color: #222;
    color: #ccc;
    margin: 10px auto;
    padding: 2px 5px;
    border: 1px solid #666;
}